.hidden {
  display: none;
}
.hidden .content {
  padding: 50px 0;
}
#top .mfp-content .avia-section {
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  display: block;
  visibility: visible;
  opacity: 1;
}
#top div.avia-popup .mfp-close {
  top: 0;
  right: 0;
  border: 0 !important;
  transform: none !important;
  opacity: 1;
  color: #333333;
}
#top .mfp-container .mfp-content {
  display: inline-flex;
  align-items: center;
}
#top .flickity-button {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 0;
  background: transparent;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top .flickity-button::after {
  content: "\e802";
  font-family: "1011-icon";
  transition: color ease 0.25s;
  color: #333;
  background: transparent;
  font-size: 20px;
}
#top .flickity-button.previous {
  transform: scaleX(-1);
}
#top .flickity-button .flickity-button-icon {
  display: none;
}
#top .flickity-button:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
#top .flickity-viewport {
  transition: height ease 0.2s;
}
#top .flickity-page-dots .dot {
  width: 6px;
  height: 6px;
  margin: 4px;
  position: relative;
}
#top .flickity-page-dots .dot:after {
  content: "";
  display: inline-block;
  position: absolute;
  border: 2px solid #333;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.6s ease-in-out;
}
#top .flickity-page-dots .dot.is-selected:after {
  content: "";
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
#top .alternate_color .flickity-page-dots .dot {
  background-color: #fff;
}
#top .alternate_color .flickity-page-dots .dot:after {
  border: 2px solid #fff;
  transition: all 0.6s ease-in-out;
}
#top .alternate_color .flickity-button::after {
  color: #fff;
}
#top .facetwp-template {
  position: relative;
}
#top .facetwp-template:after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/svg/loading.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 100px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  pointer-events: none;
  transition: opacity ease 0.3s;
}
#top .facetwp-template > div {
  transition: filter ease 0.2s, opacity ease 0.2s;
}
#top .facetwp-template.fwp-loading:after {
  opacity: 1;
}
#top .facetwp-template.fwp-loading > div {
  filter: blur(8px) grayscale(50%);
  opacity: 0.1;
}
#top .facetwp-filters {
  display: flex;
  position: relative;
  padding-left: 100px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
@media only screen and (max-width: 989px) {
  #top .facetwp-filters {
    padding-top: 50px;
    padding-left: 0;
  }
  #top .facetwp-filters::before {
    top: 0;
  }
}
#top .facetwp-filters::before {
  content: "Filter by:";
  font-size: 18px;
  line-height: 2;
  font-family: "Sarabun", sans-serif;
  position: absolute;
  left: 0;
}
#top .facetwp-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  #top .facetwp-wrapper {
    display: block;
  }
}
#top .facetwp-wrapper .facetwp-col-1 {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  #top .facetwp-wrapper .facetwp-col-1 {
    flex-direction: column;
  }
}
#top .facetwp-facet.facetwp-type-dropdown {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #top .facetwp-facet.facetwp-type-dropdown {
    margin-right: 20px;
    width: auto;
  }
}
#top .facetwp-facet.facetwp-type-dropdown::after {
  content: "\e800";
  font-family: "fa-fontello";
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease 0.4s;
  transform: translateX(-100%) translateY(10%);
  font-size: 20px;
  z-index: -1;
  transition: all ease-in-out 0.2s;
  pointer-events: none;
}
#top .facetwp-facet.facetwp-type-dropdown:hover::after {
  transform: translateX(-100%) translateY(15%);
}
#top .facetwp-facet.facetwp-type-dropdown .facetwp-dropdown {
  border: 1px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  min-width: 160px;
  padding-right: 30px;
  font-size: 14px;
  line-height: 2.57;
  font-weight: 400;
  font-family: "Sarabun", sans-serif;
  padding-left: 12px;
  background: transparent;
}
#top
  .facetwp-facet.facetwp-type-dropdown
  .facetwp-dropdown:focus
  > option:checked {
  background: #c3c3c3;
}
#top .facetwp-facet-load_more {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
#top .facetwp-facet-load_more .facetwp-load-more {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.616;
  color: #fff;
  font-family: "Sarabun", sans-serif;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 6px 24px 8px;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  transition: box-shadow ease-in-out 0.2s, border-color ease-in-out 0.2s;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
#top .facetwp-facet-load_more .facetwp-load-more:hover {
  opacity: 0.6;
}
#top .facetwp-hidden {
  display: none !important;
}
#top .facetwp-reset {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 11px 85px 13px 15px;
  color: #4e4e4e;
  font-family: "Sarabun", sans-serif;
  background-color: #dedede;
  border: none;
  text-decoration: none !important;
  transition: all ease-in-out 0.4s;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}
#top .facetwp-reset::after {
  content: "";
  height: 0.6px;
  width: 12px;
  background: #707070;
  position: absolute;
  transition: all ease 0.2s;
  top: 50%;
  bottom: auto;
  transform: rotate(-45deg);
  right: 10px;
}
#top .facetwp-reset::before {
  content: "";
  height: 0.6px;
  width: 12px;
  background: #707070;
  position: absolute;
  transition: all ease 0.2s;
  right: 10px;
  top: 50%;
  transform: rotate(45deg);
}
#top .main_color .facetwp-dropdown {
  border-color: #4e4e4e;
  color: #4e4e4e;
}
#top .main_color .facetwp-dropdown::after {
  color: #4e4e4e;
}
#top .main_color .facetwp-dropdown option {
  color: #4e4e4e;
}
#top .main_color .facetwp-filters::before {
  color: #4e4e4e;
}
#top .alternate_color .facetwp-dropdown {
  border-color: #fff;
  color: #fff;
}
#top .alternate_color .facetwp-dropdown::after {
  color: #fff;
}
#top .alternate_color .facetwp-dropdown option {
  color: #4e4e4e;
}
#top .alternate_color .facetwp-filters::before {
  color: #fff;
}
#top .alternate_color .ep-facets .ep-facet .select-wrapper select {
  color: #fff;
}
#top .alternate_color .ep-facets .ep-facet .select-wrapper select option {
  color: #4e4e4e;
}
#top .ep-facets {
  display: flex;
  margin-top: 20px;
  margin-bottom: 65px;
}
#top .ep-facets .ep-facet-pre-text {
  margin-right: 30px;
}
#top .ep-facets .ep-facet:not(:last-child) {
  margin-right: 30px;
}
#top .ep-facets .ep-facet .select-wrapper {
  position: relative;
}
#top .ep-facets .ep-facet .select-wrapper select {
  border: 1px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  min-width: 160px;
  font-size: 14px;
  line-height: 2.57;
  font-weight: 400;
  font-family: "Sarabun", sans-serif;
  padding-left: 12px;
  padding-right: 30px;
  background: transparent;
}
#top .ep-facets .ep-facet .select-wrapper select option:focus > option:checked {
  background: #c3c3c3;
}
#top .ep-facets .ep-facet .select-wrapper::after {
  content: "\e800";
  font-family: "fa-fontello";
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease 0.4s;
  transform: translateX(-100%) translateY(10%);
  font-size: 20px;
  z-index: -1;
  transition: all ease-in-out 0.2s;
  pointer-events: none;
}
#top .footer-page-content,
#top .footer-page-content .footer-section {
  border-top: 0;
}
#top .footer-section {
  background-color: var(--footerColor, transparent);
}
#top .footer-section .container {
  padding-top: 0 !important;
  padding-bottom: 30px;
}
#top .footer-section .logo {
  width: 258px;
  display: block;
}
#top .footer-section .logo path {
  fill: white;
}
@media only screen and (max-width: 767px) {
  #top .footer-section .footer--main-row .footer--social-profiles ul {
    flex-direction: row;
    justify-content: flex-start;
  }
}
#top
  .footer-section
  .footer--main-row
  .footer--social-profiles
  .av-social-link-linkedin {
  padding-right: 35px;
}
@media only screen and (max-width: 767px) {
  #top .footer-section .footer--menu-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #top .footer-section .footer--menu-row .flex_column:nth-child(3),
  #top .footer-section .footer--menu-row .flex_column:nth-child(5) {
    display: inline-flex;
  }
  #top .footer-section .footer--menu-row .av-flex-placeholder {
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #top .footer-section .footer--menu-row .flex_column:nth-child(3),
  #top .footer-section .footer--menu-row .flex_column:nth-child(5) {
    width: 50% !important;
  }
}
#top .footer-section .footer--menu-row .footer--text {
  font-weight: 100;
}
#top .footer-section .footer--menu-row .menu .menu-item {
  padding-bottom: 12px;
}
#top .footer-section .footer--menu-row .menu .menu-item a {
  color: #6fffe9;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  padding-bottom: 12px;
}
#top .footer-section .footer--address-row .flex_column .av-special-heading-tag {
  letter-spacing: calc((12px / 1000) * 250);
}
#top .footer-section .footer--address-row .flex_column .avia_textblock {
  font-weight: 100;
}
#top
  .footer-section
  .footer--address-row
  .flex_column:last-child
  .av-special-heading-tag::before {
  content: "\f099";
  font-family: "fa-fontello";
  font-size: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 767px) {
  #top .footer-section .footer--socket-row {
    display: flex;
    flex-direction: column;
  }
  #top
    .footer-section
    .footer--socket-row
    .flex_column:nth-child(1)
    .av_textblock_section {
    margin-right: 0 !important;
  }
  #top
    .footer-section
    .footer--socket-row
    .flex_column:nth-child(1)
    .av_textblock_section
    p {
    text-align: center !important;
  }
  #top .footer-section .footer--socket-row .flex_column:nth-child(3) {
    order: 1;
  }
  #top .footer-section .footer--socket-row .flex_column:nth-child(5) {
    order: 3;
  }
  #top
    .footer-section
    .footer--socket-row
    .flex_column:nth-child(5)
    .av_textblock_section {
    margin-left: 0 !important;
  }
  #top
    .footer-section
    .footer--socket-row
    .flex_column:nth-child(5)
    .av_textblock_section
    p {
    text-align: center !important;
  }
}
#top .footer-section .footer--socket-row .flex_column {
  vertical-align: middle;
}
#top
  .footer-section
  .footer--socket-row
  .flex_column:first-child
  .av_textblock_section {
  margin-right: -75px;
}
#top
  .footer-section
  .footer--socket-row
  .flex_column:last-child
  .av_textblock_section {
  margin-left: -75px;
}
#top
  .footer-section
  .footer--socket-row
  .flex_column:last-child
  .av_textblock_section
  p
  span {
  padding-left: 35px;
}
#top .footer-section .footer--socket-row p,
#top .footer-section .footer--socket-row a {
  color: rgba(255, 255, 255, 0.24) !important;
  text-decoration: none !important;
  font-weight: inherit !important;
}
#top #ctf .ctf-tweet-actions {
  display: none;
}
#top #ctf .ctf-item {
  display: flex;
  flex-direction: column-reverse;
}
#top #ctf .ctf-author-box a {
  font-size: 14px;
  color: #ff4a34 !important;
  text-decoration: none;
}
#top .avia-section {
  position: relative;
  min-height: initial;
}
#top .avia-section .container {
  z-index: 2;
}
@media only screen and (max-width: 989px) {
  #top .avia-section.avia-section-huge .content,
  #top .avia-section.avia-section-huge .sidebar {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
#top div .avia-button,
#top .button,
.wp-block-button a {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.616;
  color: #fff;
  font-family: "Sarabun", sans-serif;
  background-color: #ff4a34;
  border: 1px solid #ff4a34;
  padding: 6px 24px 8px;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  transition: box-shadow ease-in-out 0.2s, border-color ease-in-out 0.2s;
}
#top div .avia-button.avia-size-large,
#top .button.avia-size-large,
.wp-block-button a.avia-size-large {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 30px 7px;
}
#top div .avia-button.avia-size-x-large,
#top .button.avia-size-x-large,
.wp-block-button a.avia-size-x-large {
  font-size: 20px;
  font-weight: 400;
  padding: 10px 36px 12px;
}
#top div .avia-button.avia-color-primary:hover,
#top div .avia-button.avia-color-secondary:hover,
#top div .avia-button.avia-color-tertiary:hover,
#top .button.avia-color-primary:hover,
#top .button.avia-color-secondary:hover,
#top .button.avia-color-tertiary:hover,
.wp-block-button a.avia-color-primary:hover,
.wp-block-button a.avia-color-secondary:hover,
.wp-block-button a.avia-color-tertiary:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
}
#top div .avia-button.avia-color-secondary,
#top .button.avia-color-secondary,
.wp-block-button a.avia-color-secondary {
  background-color: #9bfce9;
  border-color: #9bfce9;
  color: #272727;
}
#top div .avia-button.avia-color-tertiary,
#top .button.avia-color-tertiary,
.wp-block-button a.avia-color-tertiary {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #272727;
}
#top div .avia-button.avia-color-outline-primary,
#top div .avia-button.avia-color-outline-secondary,
#top div .avia-button.avia-color-outline-tertiary,
#top .button.avia-color-outline-primary,
#top .button.avia-color-outline-secondary,
#top .button.avia-color-outline-tertiary,
.wp-block-button a.avia-color-outline-primary,
.wp-block-button a.avia-color-outline-secondary,
.wp-block-button a.avia-color-outline-tertiary {
  background-color: transparent;
}
#top div .avia-button.avia-color-outline-primary,
#top .button.avia-color-outline-primary,
.wp-block-button a.avia-color-outline-primary {
  border-color: #ff4a34;
}
#top div .avia-button.avia-color-outline-primary:hover,
#top .button.avia-color-outline-primary:hover,
.wp-block-button a.avia-color-outline-primary:hover {
  border-color: #a73225;
}
#top div .avia-button.avia-color-outline-secondary,
#top .button.avia-color-outline-secondary,
.wp-block-button a.avia-color-outline-secondary {
  border-color: #9bfce9;
}
#top div .avia-button.avia-color-outline-secondary:hover,
#top .button.avia-color-outline-secondary:hover,
.wp-block-button a.avia-color-outline-secondary:hover {
  border-color: #79bebd;
}
#top div .avia-button.avia-color-outline-tertiary,
#top .button.avia-color-outline-tertiary,
.wp-block-button a.avia-color-outline-tertiary {
  border-color: #e0e0e0;
}
#top div .avia-button.avia-color-outline-tertiary:hover,
#top .button.avia-color-outline-tertiary:hover,
.wp-block-button a.avia-color-outline-tertiary:hover {
  border-color: #5d5d5d;
}
#top div .avia-button.avia-color-borderless,
#top .button.avia-color-borderless,
.wp-block-button a.avia-color-borderless {
  padding: 0 0 15px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ff4a34;
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (min-width: 370px) {
  #top div .avia-button.avia-color-borderless,
  #top .button.avia-color-borderless,
  .wp-block-button a.avia-color-borderless {
    min-width: 280px;
  }
}
#top div .avia-button.avia-color-borderless::after,
#top .button.avia-color-borderless::after,
.wp-block-button a.avia-color-borderless::after {
  content: "\e802";
  font-family: "1011-icon";
  font-size: 1.4em;
  color: #c3c3c3;
  line-height: 1;
  font-weight: 400;
  margin-left: 15px;
}
#top div .avia-button.avia-color-borderless:hover,
#top .button.avia-color-borderless:hover,
.wp-block-button a.avia-color-borderless:hover {
  border-color: #79bebd;
}
#top .main_color .avia-button.avia-color-outline-primary,
#top .main_color .avia-button.avia-color-outline-secondary,
#top .main_color .avia-button.avia-color-outline-tertiary {
  color: #272727;
}
#top .main_color .avia-button.avia-color-borderless {
  color: #272727;
}
#top .alternate_color .avia-button.avia-color-borderless {
  color: #fff;
}
#top .avia-buttonrow-wrap,
#top .wp-block-buttons {
  display: flex;
  flex-wrap: wrap;
}
#top .avia-buttonrow-wrap.avia-buttonrow-left,
#top .avia-buttonrow-wrap.is-content-justification-left,
#top .wp-block-buttons.avia-buttonrow-left,
#top .wp-block-buttons.is-content-justification-left {
  justify-content: flex-start;
}
#top .avia-buttonrow-wrap.avia-buttonrow-center,
#top .avia-buttonrow-wrap.is-content-justification-center,
#top .wp-block-buttons.avia-buttonrow-center,
#top .wp-block-buttons.is-content-justification-center {
  justify-content: center;
}
#top .avia-buttonrow-wrap.avia-buttonrow-right,
#top .avia-buttonrow-wrap.is-content-justification-right,
#top .wp-block-buttons.avia-buttonrow-right,
#top .wp-block-buttons.is-content-justification-right {
  justify-content: flex-end;
}
#top .avia-buttonrow-wrap.is-content-justification-space-between,
#top .wp-block-buttons.is-content-justification-space-between {
  justify-content: space-between;
}
#top .avia-buttonrow-wrap {
  margin-left: -10px;
  margin-right: -10px;
}
#top .avia-buttonrow-wrap .avia-button {
  margin: 10px !important;
}
#top .wp-block-buttons.is-content-justification-left .wp-block-button {
  margin-left: -10px;
}
#top .wp-block-buttons.is-content-justification-right .wp-block-button {
  margin-right: -10px;
}
#top .wp-block-buttons.is-content-justification-center .wp-block-button a {
  margin: 5px;
}
#top
  .wp-block-buttons.is-content-justification-space-between
  .wp-block-button
  a {
  margin: 5px 0;
}
.hr:not(.hr-invisible) .hr-inner {
  display: block;
  height: 1px;
  background: #000;
}
.hr:not(.hr-invisible).hr-short .hr-inner {
  width: 60px;
}
#top .ep-social-bookmarks .av-social-link-linkedin {
  padding-right: 35px;
}
#top .ep-social-bookmarks .av-social-link-linkedin a::before {
  content: "\f0e1";
  font-family: "fa-fontello";
  font-size: 32px;
}
#top .ep-social-bookmarks .av-social-link-twitter a::before {
  content: "\f099";
  font-family: "fa-fontello";
  font-size: 32px;
}
#top .map-box {
  border: 1px solid #707070;
  vertical-align: bottom;
  margin-bottom: 0 !important;
  padding: 25px 20px 25px 70px;
}
@media only screen and (max-width: 767px) {
  #top .map-box {
    padding: 20px 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  #top .map-box {
    padding: 25px 13px 25px 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  #top .map-box .flex-column-inner {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 990px) {
  #top .map-box .flex-column-inner {
    padding-top: 35px;
  }
}
#top .map-box .flex-column-inner .av_textblock_section {
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  #top .map-box .flex-column-inner .av_textblock_section {
    width: 37.5%;
  }
}
#top .map-box .flex-column-inner .av_textblock_section .avia_textblock p {
  margin: 0;
  padding-right: 10px;
}
#top .map-box .flex-column-inner .av_textblock_section .avia_textblock a {
  color: #fff;
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  #top .map-box .flex-column-inner .av-special-heading {
    width: 25%;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 1311px) {
  #top .buttonrow--spaced-out {
    justify-content: space-between !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1310px) {
  #top .buttonrow--spaced-out {
    justify-content: space-evenly !important;
  }
}
@media only screen and (max-width: 767px) {
  #top .buttonrow--spaced-out {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1310px) {
  #top .buttonrow--spaced-out .avia-button {
    margin-bottom: 45px !important;
  }
}
@media only screen and (max-width: 767px) {
  #top .buttonrow--spaced-out .avia-button:not(:last-child) {
    margin-bottom: 45px !important;
  }
}
#top .ep-lottie-animation.lottie-bg {
  position: absolute;
  left: 50%;
  right: 0;
  width: 1600px;
  max-width: initial !important;
  top: 0;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0.65;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  #top .ep-lottie-animation.lottie-bg {
    width: 800px;
  }
}
.pgp-content .pgp-copy {
  text-decoration: underline;
  cursor: pointer;
}
.pgp-content .pgp-copied {
  display: none;
}
.pgp-content .pgp-content-link {
  color: #79bebd;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.pgp-content .pgp-content-key {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.pgp-content .pgp-content-key textarea {
  font-family: monospace;
  font-weight: 700;
  color: #79bebd;
  width: 100%;
  height: 220px;
  padding: 40px;
  line-height: 32px;
}
#top .main_color.pgp-contact-container {
  background-color: #efefef;
  padding: 30px 50px 20px;
}
html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
  backdrop-filter: blur(10px);
}
#top .entry-team_member .ep-item-grid-item-inner .ep-item-grid-item-media {
  position: relative;
}
#top
  .entry-team_member
  .ep-item-grid-item-inner
  .ep-item-grid-item-media::after {
  content: "";
  position: absolute;
  border: 1px solid #e95941;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: border ease-in-out 0.2s, opacity ease-in-out 0.2s;
  opacity: 0;
  pointer-events: none;
}
#top
  .entry-team_member
  .ep-item-grid-item-inner
  .ep-item-grid-item-title-wrapper
  a {
  text-decoration: none;
  font-size: 22px;
}
#top .entry-team_member .ep-item-grid-item-inner .ep-item-grid-item-content {
  color: #ff4a34;
  font-size: 16px;
  font-style: italic;
}
#top
  .entry-team_member
  .ep-item-grid-item-inner
  .ep-item-grid-item-button-wrapper {
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  padding-top: 20px;
}
#top
  .entry-team_member
  .ep-item-grid-item-inner
  .ep-item-grid-item-button-wrapper
  a {
  font-size: 13px !important;
  font-weight: 700 !important;
  max-width: 114px;
}
#top
  .entry-team_member
  .ep-item-grid-item-inner:hover
  .ep-item-grid-item-media::after {
  opacity: 1;
}
#top
  .entry-team_member
  .ep-item-grid-item-inner:hover
  .ep-item-grid-item-button-wrapper {
  opacity: 1;
}
#top .single-team-hero-section .container {
  max-width: 870px;
}
#top .single-team-hero-section .entry-content-wrapper .team-meta {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 80px;
}
@media only screen and (max-width: 767px) {
  #top .single-team-hero-section .entry-content-wrapper .team-meta {
    flex-direction: column;
  }
}
#top .single-team-hero-section .entry-content-wrapper .team-meta::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #79bebd;
  height: 1px;
  width: 91px;
}
#top .single-team-hero-section .entry-content-wrapper .team-thumb {
  width: 198px;
}
#top .single-team-hero-section .entry-content-wrapper .team-thumb img {
  border: 1px solid #e95941;
  border-radius: 50%;
  box-sizing: border-box;
}
#top .single-team-hero-section .entry-content-wrapper .content-description {
  padding-left: 70px;
  flex: 1;
}
@media only screen and (max-width: 767px) {
  #top .single-team-hero-section .entry-content-wrapper .content-description {
    padding-left: 0;
    text-align: center;
  }
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-info {
  padding-bottom: 5px;
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-info
  .team-title {
  font-size: 50px;
  padding-bottom: 10px;
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-info
  .job-title {
  color: #ff4a34;
  font-size: 28px;
  font-style: italic;
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-social-profile
  a {
  padding-right: 15px;
  text-decoration: none;
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-social-profile
  a:before {
  font-family: "fa-fontello";
  font-size: 32px;
  color: #4e4e4e;
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-social-profile
  a.social-facebook::before {
  content: "\f308";
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-social-profile
  a.social-linkedin::before {
  content: "\f0e1";
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-social-profile
  a.social-twitter:before {
  content: "\f099";
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .content-description
  .team-social-profile
  a.social-youtube::before {
  content: "\e808";
  font-family: "1011-icon";
}
#top .single-team-hero-section .entry-content-wrapper .intro-text {
  margin: 50px 0;
}
#top
  .single-team-hero-section
  .entry-content-wrapper
  .intro-text
  p:first-child {
  color: #ff4a34;
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper::after,
#top .ep-posts-grid-container .entry-post .ep-item-grid-content-wrapper::after,
#top .ep-posts-grid-container .entry-event .ep-item-grid-item-inner::after,
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-item-media::after,
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper::after,
#top .featured-posts .entry-featured-post .ep-item-grid-item-media::after,
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-item-media::after,
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper::after {
  width: 110px;
  height: 35px;
  position: absolute;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#top
  .ep-posts-grid-container
  .entry-common
  .ep-item-grid-content-wrapper
  .avia-button {
  border-color: #5d5d5d;
  transition: all ease-in-out 0.2s;
  white-space: nowrap;
}
#top
  .ep-posts-grid-container
  .entry-common
  .ep-item-grid-content-wrapper
  .avia-button:hover {
  opacity: 0.8;
}
#top .ep-posts-grid-container .entry-common img {
  pointer-events: none;
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-terms,
#top
  .ep-posts-grid-container
  .featured-posts
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-terms,
#top
  .ep-posts-grid-container
  .entry-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-terms {
  position: relative;
  color: #9bfce9;
  padding-bottom: 5px;
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-terms
  .ep-item-term,
#top
  .ep-posts-grid-container
  .featured-posts
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-terms
  .ep-item-term,
#top
  .ep-posts-grid-container
  .entry-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-terms
  .ep-item-term {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: calc((12px / 1000) * 100);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
#top .ep-posts-grid-container .entry-news_post .ep-item-grid-content-wrapper,
#top .ep-posts-grid-container .entry-post .ep-item-grid-content-wrapper {
  border: 1px solid #5d5d5d;
  position: relative;
  min-height: 324px;
  padding: 50px 50px 100px 50px;
}
@media only screen and (max-width: 450px) {
  #top .ep-posts-grid-container .entry-news_post .ep-item-grid-content-wrapper,
  #top .ep-posts-grid-container .entry-post .ep-item-grid-content-wrapper {
    padding: 35px 20px 100px 20px;
  }
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper::after,
#top .ep-posts-grid-container .entry-post .ep-item-grid-content-wrapper::after {
  background-color: #9bfce9;
  top: -1px;
  right: -1px;
  color: #272727;
  pointer-events: none;
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper,
#top
  .ep-posts-grid-container
  .entry-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper {
  margin-top: 10px;
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title,
#top
  .ep-posts-grid-container
  .entry-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title {
  line-height: 1.33 !important;
  font-size: 24px;
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title
  a,
#top
  .ep-posts-grid-container
  .entry-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title
  a {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-button-wrapper,
#top
  .ep-posts-grid-container
  .entry-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-button-wrapper {
  bottom: 35px;
  left: 50px;
  position: absolute;
}
@media only screen and (max-width: 450px) {
  #top
    .ep-posts-grid-container
    .entry-news_post
    .ep-item-grid-content-wrapper
    .ep-item-grid-item-button-wrapper,
  #top
    .ep-posts-grid-container
    .entry-post
    .ep-item-grid-content-wrapper
    .ep-item-grid-item-button-wrapper {
    left: 20px;
  }
}
#top
  .ep-posts-grid-container
  .entry-news_post
  .ep-item-grid-content-wrapper::after {
  content: "News";
}
#top .ep-posts-grid-container .entry-post .ep-item-grid-content-wrapper::after {
  content: "Insights";
}
#top .ep-posts-grid-container .entry-event .ep-item-grid-item-inner {
  border: 1px solid #5d5d5d;
  position: relative;
}
#top .ep-posts-grid-container .entry-event .ep-item-grid-item-inner::after {
  content: "Event";
  background-color: #ff4a34;
  top: 0;
  right: 0;
  color: #272727;
  pointer-events: none;
}
#top
  .ep-posts-grid-container
  .entry-event
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image
  img {
  opacity: 0.18;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
#top
  .ep-posts-grid-container
  .entry-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper {
  position: relative;
  height: 100%;
  min-height: 320px;
  padding: 50px 50px 100px 50px;
}
@media only screen and (max-width: 450px) {
  #top
    .ep-posts-grid-container
    .entry-event
    .ep-item-grid-item-inner
    .ep-item-grid-content-wrapper {
    padding: 35px 20px 35px 20px;
    display: flex;
    flex-direction: column;
  }
}
#top
  .ep-posts-grid-container
  .entry-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title
  a {
  text-decoration: none;
  line-height: 1.33;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
#top
  .ep-posts-grid-container
  .entry-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-date {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: calc((12px / 1000) * 100);
  color: #9bfce9;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
#top
  .ep-posts-grid-container
  .entry-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-post-grid-location {
  color: #ff4a34;
  line-height: 1.58;
  margin-top: 15px;
  font-size: 12px;
  letter-spacing: calc((12px / 1000) * 100);
  font-weight: 700;
  position: absolute;
  bottom: 35px;
  right: 50px;
}
@media only screen and (max-width: 450px) {
  #top
    .ep-posts-grid-container
    .entry-event
    .ep-item-grid-item-inner
    .ep-item-grid-content-wrapper
    .ep-post-grid-location {
    position: relative;
    display: flex;
    bottom: auto;
    right: auto;
    order: 3;
    align-items: center;
    padding-bottom: 50px;
  }
}
#top
  .ep-posts-grid-container
  .entry-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-post-grid-location::before {
  content: "\e801";
  font-family: "1011-icon";
  color: #ff4a34;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 300;
}
#top
  .ep-posts-grid-container
  .entry-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-button-wrapper {
  position: absolute;
  bottom: 35px;
  left: 50px;
}
@media only screen and (max-width: 450px) {
  #top
    .ep-posts-grid-container
    .entry-event
    .ep-item-grid-item-inner
    .ep-item-grid-content-wrapper
    .ep-item-grid-item-button-wrapper {
    left: 20px;
  }
}
#top .ep-posts-grid-container .entry-success_stories .ep-item-grid-item-inner {
  border: #9bfce9 1px solid;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-item-media {
  width: 100%;
  height: 100%;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image {
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
  position: relative;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image
  .wp-post-image {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 1;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image
  .success-story-block-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  pointer-events: none;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image
  .success-story-block-bg
  img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper {
  background: transparent;
  padding: 60px;
}
@media only screen and (max-width: 989px) {
  #top
    .ep-posts-grid-container
    .entry-success_stories
    .ep-item-grid-item-inner
    .ep-item-grid-content-wrapper {
    padding: 30px;
  }
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper {
  margin-bottom: 50px;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper::before {
  content: "Success Story";
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: calc((12px / 1000) * 100);
  color: #5cc0be;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title {
  line-height: 1.33;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  white-space: nowrap;
}
#top
  .ep-posts-grid-container
  .entry-success_stories
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title
  a {
  text-decoration: none;
}
@media only screen and (max-width: 989px) {
  #top .featured-posts {
    justify-content: center;
    align-items: center;
  }
}
#top .featured-posts .entry-featured-news_post .ep-item-grid-item-inner {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
  background: rgba(195, 195, 195, 0.05);
  transition: box-shadow ease 0.2s;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(3px);
}
@media only screen and (max-width: 989px) {
  #top .featured-posts .entry-featured-news_post .ep-item-grid-item-inner {
    flex-direction: column;
    width: 100%;
  }
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-item-media {
  width: 100%;
  position: relative;
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-item-media::after {
  content: "Featured";
  width: 124px;
  height: 46px;
  background-color: #ff4a34;
  bottom: 25px;
  left: 25px;
  color: #fff;
  align-items: center;
  pointer-events: none;
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image {
  width: 100%;
  height: 100%;
  position: relative;
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image
  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}
@media only screen and (max-width: 989px) {
  #top
    .featured-posts
    .entry-featured-news_post
    .ep-item-grid-item-inner
    .ep-item-grid-item-media
    .ep-item-grid-image
    img {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 35.38vh;
  }
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper {
  padding: 60px;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: 50px;
  position: relative;
}
@media only screen and (max-width: 989px) {
  #top
    .featured-posts
    .entry-featured-news_post
    .ep-item-grid-item-inner
    .ep-item-grid-content-wrapper {
    padding: 30px;
    padding-top: 45px;
  }
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper::after {
  content: "News";
  background-color: #9bfce9;
  top: 0px;
  right: 0px;
  color: #272727;
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-terms {
  padding-bottom: 15px;
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper {
  width: 60%;
}
@media only screen and (max-width: 1600px) {
  #top
    .featured-posts
    .entry-featured-news_post
    .ep-item-grid-item-inner
    .ep-item-grid-content-wrapper
    .ep-item-grid-item-title-wrapper {
    width: 100%;
  }
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title {
  margin-bottom: 15px;
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title
  a {
  font-weight: 100;
  text-decoration: none;
  line-height: 1.25;
}
#top
  .featured-posts
  .entry-featured-news_post
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-content {
  margin-bottom: 60px;
}
#top .featured-posts .entry-featured-post .ep-item-grid-item-media {
  position: relative;
  display: block !important;
}
#top .featured-posts .entry-featured-post .ep-item-grid-item-media::after {
  content: "Featured";
  background-color: #ff4a34;
  bottom: 25px;
  left: 25px;
  color: #272727;
  font-size: 15px;
  pointer-events: none;
}
#top
  .featured-posts
  .entry-featured-post
  .ep-item-grid-item-media
  .ep-item-grid-image {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50%;
}
@media only screen and (max-width: 989px) {
  #top
    .featured-posts
    .entry-featured-post
    .ep-item-grid-item-media
    .ep-item-grid-image {
    padding: 30%;
  }
}
#top
  .featured-posts
  .entry-featured-post
  .ep-item-grid-item-media
  .ep-item-grid-image
  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}
#top .featured-posts .entry-featured-post .ep-item-grid-content-wrapper {
  background: rgba(0, 0, 0, 0.5);
  padding: 60px;
  backdrop-filter: blur(3px);
}
@media only screen and (max-width: 989px) {
  #top .featured-posts .entry-featured-post .ep-item-grid-content-wrapper {
    padding: 30px;
  }
}
#top
  .featured-posts
  .entry-featured-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-terms
  .ep-item-term {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: calc((12px / 1000) * 100);
  color: #9bfce9;
  text-decoration: none;
  text-transform: uppercase;
}
#top
  .featured-posts
  .entry-featured-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper {
  margin-bottom: 25px;
}
#top
  .featured-posts
  .entry-featured-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title {
  line-height: 0.75;
}
#top
  .featured-posts
  .entry-featured-post
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title
  a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
#top .featured-posts .entry-featured-event .ep-item-grid-item-inner {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
  background: rgba(195, 195, 195, 0.05);
  transition: box-shadow ease 0.2s;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(3px);
}
@media only screen and (max-width: 989px) {
  #top .featured-posts .entry-featured-event .ep-item-grid-item-inner {
    flex-direction: column;
    width: 100%;
  }
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-item-media {
  width: 100%;
  max-width: 100%;
  position: relative;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-item-media::after {
  content: "Featured";
  width: 124px;
  height: 46px;
  background-color: #6fffe9;
  bottom: 25px;
  left: 25px;
  color: #272727;
  pointer-events: none;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image {
  width: 100%;
  height: 100%;
  position: relative;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-item-media
  .ep-item-grid-image
  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}
@media only screen and (max-width: 989px) {
  #top
    .featured-posts
    .entry-featured-event
    .ep-item-grid-item-inner
    .ep-item-grid-item-media
    .ep-item-grid-image
    img {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper {
  padding: 60px;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: 50px;
  position: relative;
}
@media only screen and (max-width: 989px) {
  #top
    .featured-posts
    .entry-featured-event
    .ep-item-grid-item-inner
    .ep-item-grid-content-wrapper {
    padding: 50px 30px 30px 30px;
  }
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper::after {
  content: "Event";
  top: 0px;
  right: 0px;
  color: #272727;
  background-color: #ff4a34;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-date,
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-post-grid-location {
  letter-spacing: calc((12px / 1000) * 100);
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-date {
  order: 1;
  margin-bottom: 10px;
  color: #9bfce9;
  text-decoration: none;
  text-transform: uppercase;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper {
  order: 2;
  margin-bottom: 10px;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-title-wrapper
  .ep-item-grid-item-title
  a {
  font-weight: 100;
  text-decoration: none;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-content {
  margin-bottom: 10px;
  order: 3;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-post-grid-location {
  order: 4;
  display: flex;
  padding-right: 40px;
  color: #ff4a34;
  text-transform: uppercase;
  align-items: center;
  text-decoration: none;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-post-grid-location::before {
  content: "\e801";
  font-family: "1011-icon";
  color: #ff4a34;
  padding-right: 10px;
  font-size: 15px;
}
#top
  .featured-posts
  .entry-featured-event
  .ep-item-grid-item-inner
  .ep-item-grid-content-wrapper
  .ep-item-grid-item-button-wrapper {
  order: 5;
  margin-top: 20px;
}
#top .success-story-section {
  background-color: #090a0f;
}
@media only screen and (min-width: 768px) {
  #top .success-story-section .content {
    padding: 100px 0;
  }
}
#top .success-story-section:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--heroSectionBgColor);
  background-image: var(--heroSectionBgImage);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  pointer-events: none;
}
#top .success-story-section + .avia-section:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 300px;
  background: #090a0f;
  top: -150px;
  transform: translateX(-50%);
  filter: blur(50px);
  left: 50%;
}

/*# sourceMappingURL=body.css.map */
