
.ep-posts-load-more {
    transition: height ease-in-out .2s
}

.ep-posts-load-more .column:not(.already-loaded) {
    opacity: 0;
    visibility: hidden;
    transition: all ease .2s
}

.ep-social-bookmarks,
.ep-social-bookmarks li {
    margin: 0;
    padding: 0;
    list-style: none
}

.ep-social-bookmarks {
    display: flex
}

.ep-social-bookmarks.ep-align-right {
    justify-content: flex-end
}

.ep-social-bookmarks li {
    display: flex
}

.ep-social-bookmarks li a {
    font-size: 28px;
    background-color: transparent !important;
    text-decoration: none !important
}
