@media only screen and (max-width: 767px) {
    .responsive #top {
        overflow-x: hidden;
    }

    .responsive #top .flex_column_table,
    .responsive #top .flex_column_table_cell {
        display: block;
    }

    .responsive #top #wrap_all .container {
        width: 85%;
        max-width: 85%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }

    .responsive .units {
        margin: 0;
    }

    .responsive #top #wrap_all .flex_column {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .responsive #top #wrap_all .flex_column:empty {
        margin: 0;
    }

    .hr-responsive .hr-mobile {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 989px) {
    .responsive #top {
        overflow-x: hidden;
    }

    .responsive .container {
        max-width: 782px;
    }

    .hr-responsive .hr-tablet {
        display: block;
    }

    .responsive #top #wrap_all .av-medium-font-size-22 {
        font-size: 22px !important;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1310px) {
    #top .avia-section:not(.single-hero-section):not(.single-content-section) .container {
        width: 95%;
    }
}

@media only screen and (max-width: 989px) and (min-width: 768px) {
    #top .avia-section:not(.avia-section-fwd) .flex_column_table.av-break-at-tablet-flextable {
        width: 100%;
    }
}

@media only screen and (min-width: 1100px) {

    #top .h1,
    #top h1 {
        font-size: 56px;
    }
}

@media only screen and (min-width: 1100px) {

    #top .h2,
    #top h2 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1100px) {

    #top .h3,
    #top h3 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 767px) {
    html .hamburger-content .main-menu>li.sub-menu-is-active>.sub-menu {
        max-height: 1500px;
        pointer-events: initial;
        overflow: visible;
        opacity: 1;
        transition-duration: 0.4s;
    }

    #top .facetwp-wrapper {
        display: block;
    }

    #top .facetwp-wrapper .facetwp-col-1 {
        flex-direction: column;
    }

    #top .footer-section .footer--main-row .footer--social-profiles ul {
        flex-direction: row;
        justify-content: flex-start;
    }
}


@media only screen and (max-width:767px) {
    .intro-text {
        font-size: 18px
    }

    #top .orange-box {
        margin-left: -7.5vw !important;
        margin-right: -7.5vw !important;
        width: auto !important;
        padding: 50px 7.5vw
    }

    html .header .hamburger-menu-event {
        flex-direction: column;
        margin-top: 35px
    }
}

@media only screen and (min-width:768px) {
    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li {
        width: 47.5%;
        margin-bottom: 40px
    }

    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li>a::before {
        display: none
    }
}


@media only screen and (min-width:990px) {
    .hr-responsive .hr-desktop {
        display: block
    }

    #top {
        font-size: 20px
    }

    html .header {
        --headerBg: #4E4E4E
    }

    html .hamburger-content .hamburger-content-inner .menu-main-menu-container {
        width: 58%
    }

    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li {
        width: 45%;
        margin-bottom: 65px
    }

    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li>a {
        font-size: 40px;
        width: 100%
    }
}

@media only screen and (min-width:990px) {
    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li .sub-menu>li {
        margin-top: 20px
    }

    #top .postsgrid--portfolio-grid .ep-posts-grid .ep-item-grid-item .ep-item-grid-item-inner .status {
        opacity: 0
    }
}


@media only screen and (min-width:480px) and (max-width:767px) {
    .responsive #top #wrap_all .av-small-font-size-22 {
        font-size: 22px !important
    }

    #top .footer-section .footer--menu-row .flex_column:nth-child(3),
    #top .footer-section .footer--menu-row .flex_column:nth-child(5) {
        width: 50% !important
    }
}

@media only screen and (max-width:479px) {
    .responsive #top #wrap_all .av-mini-font-size-18 {
        font-size: 18px !important
    }

    .responsive #top #wrap_all .av-mini-font-size-22 {
        font-size: 22px !important
    }
}



@media only screen and (max-width:767px) {
    .avia-image-container.ep-image-mobile-center {
        display: block;
        margin: 0 auto 10px;
        text-align: center;
        clear: both;
        float: none
    }

    .avia-image-container.ep-image-mobile-center .avia-image-container-inner {
        margin: 0 auto;
        display: inline-block;
        vertical-align: bottom
    }

    .ep-social-bookmarks {
        flex-direction: column
    }

    .no-margins-on-breakpoint {
        margin-bottom: 0 !important
    }
}


@media only screen and (min-width:768px) {
    html .header .hamburger-menu-post {
        padding: 30px 35px
    }
}

@media only screen and (max-width:767px) {
    html .header .hamburger-menu-event .menu-event-column {
        flex-direction: column
    }

    html .header .hamburger-menu-event .menu-event-column .menu-event-sub-title,
    html .header .hamburger-menu-event .menu-event-column .menu-event-title {
        margin-bottom: 10px
    }

    html .header .hamburger-menu-event .menu-event-column .menu-event-date {
        margin-bottom: 20px
    }
}

@media only screen and (min-width:768px) {
    html .header .hamburger-menu-event .menu-event-column {
        margin: -15px
    }

    html .header .hamburger-menu-event .menu-event-column:first-child {
        padding-right: 10px
    }

    html .header .hamburger-menu-event .menu-event-column:last-child {
        padding-left: 10px
    }

    html .header .hamburger-menu-event .menu-event-column>div {
        margin: 15px
    }

    html .hamburger-content {
        max-height: calc(100vh - var(--headerNav));
        height: auto
    }

    html .hamburger-content .hamburger-content-inner {
        border-top: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 60px
    }

    html .hamburger-content .hamburger-content-inner .menu-main-menu-container {
        width: 64%
    }
}

@media only screen and (max-width:767px) {
    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li {
        display: block;
        line-height: 1;
        margin-bottom: 40px
    }

    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li>a::after {
        margin-top: 15px;
        padding-bottom: 15px
    }

    html .hamburger-content .main-menu>li>.sub-menu {
        max-height: 0;
        margin: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: max-height cubic-bezier(.4, 0, .2, 1) .3s, height cubic-bezier(.4, 0, .2, 1) .3s, overflow ease .25s, opacity ease .25s
    }
}

@media only screen and (min-width:768px) {
    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li .sub-menu-indicator {
        display: none
    }

    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li .sub-menu>li {
        margin-top: 15px
    }
}

@media only screen and (min-width:768px) {
    html .hamburger-content .hamburger-content-inner .menu-main-menu-container .main-menu>li .sub-menu>li a {
        font-size: 16px
    }

    html .hamburger-content .hamburger-content-inner .hamburger-menu-post {
        width: 32%
    }
}



@media only screen and (min-width:768px) {
    html .header .header-inner {
        padding: 0 50px
    }

    html .header .header-inner .header-logo {
        width: 258px;
        height: 44px
    }
}

@media only screen and (max-width:989px) {
    .av-break-at-tablet.no-margins-on-breakpoint {
        margin-bottom: 0 !important
    }

    html .header .header-inner .header-menu-wrapper .header-menu .secondary-menu {
        display: none
    }
}


@media only screen and (max-width:1120px) {
    #header .units {
        width: 100% !important
    }
}


@media (max-width:480px) {
    body .facetwp-template .fwpl-layout {
        grid-template-columns: 1fr
    }
}

@media screen and (max-width:767px) {
    .column.is-full-mobile {
        flex: none;
        width: 100%
    }
}

@media screen and (min-width:768px),
print {
    .column.is-half-tablet {
        flex: none;
        width: 50%
    }

    .column.is-3 {
        flex: none;
        width: 25%
    }

    .columns:not(.is-desktop) {
        display: flex
    }
}

@media screen and (min-width:1024px) {
    .column.is-one-quarter-desktop {
        flex: none;
        width: 25%
    }
}

@media only screen and (max-width:989px) {
    #top .facetwp-filters {
        padding-top: 50px;
        padding-left: 0
    }

    #top .facetwp-filters::before {
        top: 0
    }

    #top .avia-section.avia-section-huge .content,
    #top .avia-section.avia-section-huge .sidebar {
        padding-top: 75px;
        padding-bottom: 75px
    }
}

@media only screen and (min-width:768px) {
    #top .facetwp-facet.facetwp-type-dropdown {
        margin-right: 20px;
        width: auto
    }
}




@media only screen and (max-width:767px) {
    #top .footer-section .footer--menu-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    #top .footer-section .footer--menu-row .flex_column:nth-child(3),
    #top .footer-section .footer--menu-row .flex_column:nth-child(5) {
        display: inline-flex
    }

    #top .footer-section .footer--menu-row .av-flex-placeholder {
        display: none
    }

    #top .footer-section .footer--socket-row {
        display: flex;
        flex-direction: column
    }

    #top .footer-section .footer--socket-row .flex_column:first-child .av_textblock_section {
        margin-right: 0 !important
    }

    #top .footer-section .footer--socket-row .flex_column:first-child .av_textblock_section p {
        text-align: center !important
    }

    #top .footer-section .footer--socket-row .flex_column:nth-child(3) {
        order: 1
    }

    #top .footer-section .footer--socket-row .flex_column:nth-child(5) {
        order: 3
    }

    #top .footer-section .footer--socket-row .flex_column:nth-child(5) .av_textblock_section {
        margin-left: 0 !important
    }

    #top .footer-section .footer--socket-row .flex_column:nth-child(5) .av_textblock_section p {
        text-align: center !important
    }
}


@media only screen and (max-width:767px) {
    #top .ep-lottie-animation.lottie-bg {
        width: 800px
    }
}