.chip {
  /* display:flex; */
  font-size: 0.85em;
  padding: 3px 9px;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 2px;
  opacity: 0.9;
  color:#fff;
}

.chip img {
  width: 10px;
}
