.chip {
  /* display:flex; */
  font-size: 0.85em;
  padding: 3px 9px;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 2px;
  opacity: 0.9;
}

.bio {
  background: #caa572;
}

.health {
  background: #5aa098;
}

.med {
  background: #d36e4f;
}

.pharma {
  background: #5278a3;
}

.elevens {
  background: #234e79;
}

.chip img {
  width: 10px;
}
