@import 'variables';

@import url('./../fonts/Roboto/Roboto-Medium.ttf');

/*---------------- Text --------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans-serif;
}

h1,
h2 {
  margin: 10px auto;
  text-align: center;
}

h2 {
  font-family: $font-caps;
  font-size: 1.4rem;
  color: desaturate(lighten($base-color, 30%), 35%);
}

p {
  font-family: $font-serif;
  font-size: 1.2rem;
}
