@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Carrois+Gothic+SC&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/*---------------- Text --------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
}

h1,
h2 {
  margin: 10px auto;
  text-align: center;
}

h2 {
  font-family: $font-caps;
  font-size: 1.4rem;
  color: desaturate(lighten($base-color, 30%), 35%);
}

p {
  font-family: $font-serif;
  font-size: 1.2rem;
}
