@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&family=Audiowide&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  background-color: #333;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0.4em;
  text-align: left;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.6em;
}

b {
  font-weight: bold;
  // color: gold;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0px;
  list-style: none;
}

li {
  padding: 10px 0;
  // line-height: 1.5rem;
  // background: green;;
}

li::before {
  content: "•";
  padding-right: 8px;
  // font-size: 1.7rem;
  // line-height: 1rem;
  color: red;
}
