

body {
  color:#fff;
  padding: 0;
  margin: 0;
  height:100vh;
  width:100vw;
  background: linear-gradient(to bottom, #02111b, #4484c3);
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color:#fff;
  text-decoration: none;
}