$image-min-height: 400px;
$image-min-width: 100%;

$dot-size: 13px;

.carousel {
  ul > li.slide {
    min-width: $image-min-width;
    img {
      min-width: $image-min-width;

    }
  }
  .control-dots .dot {
    height: $dot-size;
    width: $dot-size;
    box-shadow: none;
  }

  .control-arrow {
    width: 40px;
    //   background-color: red;
  }

  &.carousel-slider .control-arrow {
    font-size: 36px;
    opacity: 0.8;
  }
}
